{{define "attribution"}}
    <a href="https://www.flaticon.com/free-icons/music" title="music icons" class="block">Music icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/furniture-and-household" title="furniture and household icons" class="block">Furniture and household icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/brick" title="brick icons" class="block">Brick icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/bathroom" title="bathroom icons" class="block">Bathroom icons created by Freepik - Flaticon
        <a href="https://www.flaticon.com/free-icons/living-room" title="living room icons" class="block">Living room icons created by Freepik - Flaticon</a>
{{end}}