{{define "attribution"}}
    <footer>
        <a href="https://www.flaticon.com/free-icons/music" title="music icons" class="block text-gray-600">Music icons
            created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/furniture-and-household" title="furniture and household icons"
           class="block text-gray-600">Furniture and household icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/brick" title="brick icons" class="block text-gray-600">Brick icons
            created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/bathroom" title="bathroom icons" class="block text-gray-600">Bathroom
            icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/living-room" title="living room icons" class="block text-gray-600">Living
            room icons created by Freepik - Flaticon</a>
    </footer>
{{end}}