<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/public/assets/css/main.css"/>
    <script src="/public/assets/js/htmx.min.js"></script>

    <title>goSKiP - go Spotify Kids Player</title>
</head>
<body>
<main class="bg-white mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    {{template "content" .}}
</main>
</body>
</html>
