<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="go-spotify-kids-player" />
    <working_directory value="$PROJECT_DIR$" />
    <envs>
      <env name="DB_NAME" value="goskip-db" />
      <env name="DB_URI" value="mongodb://localhost:27020/goskip-db-dev" />
      <env name="HA_TOKEN" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkNzQ2MDAwZGI1MjY0OTc2ODdmNjhiYTU1MDA2N2NmMSIsImlhdCI6MTcwNTQ4NTY0MywiZXhwIjoyMDIwODQ1NjQzfQ.j0NpnczQuXBnhy6tIkynov9RIG3B4QQzw3tTRrmN4JQ" />
      <env name="SPOTIFY_ID" value="e7d06c1fec024e0eb6e7f3be858a40dd" />
      <env name="SPOTIFY_SECRET" value="aea2c2c7f5c047a482dd1ef13e20b81a" />
      <env name="HA_HOST" value="http://homeassistant.local:8123" />
    </envs>
    <kind value="PACKAGE" />
    <package value="go-spotify-kids-player/cmd/player" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/cmd/player/main.go" />
    <method v="2">
      <option name="ToolBeforeRunTask" enabled="true" actionId="Tool_External Tools_task" />
    </method>
  </configuration>
</component>